<div class="container1">
    
    <img src="~/images/bmw7.jpg" style="width:600px; border-radius:5px;" />
   
    <div class="box2">
        <h2>Looking to rent a car</h2>
        <br />
        <p>Discover our fleet of Premium vehicles and enjoy your ride</p>
        <br />
        <a href="/Vehicles/Index" class="buton1">View offers</a>
    </div>
    

</div>
